name: Gobuster DNS Brute

on:
  workflow_dispatch:

jobs:
  load_subdomains:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build matrix from file
        id: build
        run: |
          json=$(sed 's/^ *//; s/ *$//; s/"//g' extra-sub-2.txt \
          | jq -R -s 'split("\n") | map(select(length>0))')
          json_escaped=$(printf '%s' "$json" | jq -c '.')
          echo "matrix=$json_escaped" >> $GITHUB_OUTPUT

  gobuster:
    needs: load_subdomains
    runs-on: ubuntu-latest
    timeout-minutes: 360
    strategy:
      fail-fast: false
      matrix:
        domain: ${{ fromJson(needs.load_subdomains.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Go environment
        uses: actions/setup-go@v6.1.0
    
      - name: Install gobuster
        run: |
          sudo apt-get update
          sudo apt-get install -y gobuster

      - name: Download SecLists
        run: |
          git clone https://github.com/danielmiessler/ SecLists.git

      - name: Run gobuster DNS brute
        run: |
          mkdir -p results
          gobuster dns \
            -d "${{ matrix.domain }}" \
            -t 500 \
            -w SecLists/Discovery/DNS/dns-Jhaddix.txt \
            --wildcard -q \
            > results/${{ matrix.domain }}.txt

      - name: Upload results for this domain
        uses: actions/upload-artifact@v4
        with:
          name: results-${{ matrix.domain }}
          path: results/

  merge_results:
    needs: gobuster
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: all_results/

      - name: Merge all result files
        run: |
          mkdir -p merged-results
          find all_results -type f -name "*.txt" -print0 | sort -z | xargs -0 cat >> merged-results/all-domains.txt

      - name: Upload merged results
        uses: actions/upload-artifact@v4
        with:
          name: gobuster-merged-results
          path: merged-results/all-domains.txt
