name: Gobuster DNS Brute

on:
  workflow_dispatch:

jobs:
  load_subdomains:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build matrix from file
        id: build
        run: |
          json=$(jq -R -s 'split("\n") | map(select(length>0))' extra-sub-2.txt)
          echo "matrix=$json" >> $GITHUB_OUTPUT

  gobuster:
    needs: load_subdomains
    runs-on: ubuntu-latest
    timeout-minutes: 360  # 6 hours max per subdomain/job
    strategy:
      fail-fast: false
      matrix:
        domain: ${{ fromJson(needs.load_subdomains.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Go environment
        uses: actions/setup-go@v6.1.0
    
      - name: Install gobuster
        run: |
          sudo apt-get update
          sudo apt-get install -y gobuster

      - name: Download SecLists
        run: |
          git clone https://github.com/danielmiessler/SecLists.git

      - name: Run gobuster DNS brute
        run: |
          mkdir -p results
          gobuster dns \
            -d "${{ matrix.domain }}" \
            -t 800 \
            -w SecLists/Discovery/DNS/dns-Jhaddix.txt \
            --wildcard -r 1.1.1.1 \
            > results/${{ matrix.domain }}.txt

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: dns-results
          path: results/
